/* 样式初始化 */
* {
    margin: 0;
    padding: 0;
}

/* 外包裹 */
#wrap {
    margin: 50px auto;
    width: 700px;
    height: 500px;
    border: 1px solid red
}

/* 地图 */
#map {
    width: 500px;
    height: 500px;
    position: relative;
    float: left;
}

/* 右侧区域 */
#right {
    width: 199px;
    height: 500px;
    background-color: pink;
    float: left;
    border-left: 1px solid red;
}

/* 分数 */
.score-wrap {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
}

.score-wrap span {
    color: red;
}

/* 按钮 */
.btn-wrap {
    margin-top: 60px;
    text-align: center;
}

.btn-wrap span {
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    cursor: pointer;
}

.btn-wrap span:hover {
    background-color: rgba(0, 0, 0, .7);
}

/* 提示 */
.tip-wrap {
    margin-top: 100px;
    text-align: center;
    font-size: 14px;
}

/* 操作区 */
.ope-wrap{
    margin-top: 100px;
    text-align: center;
}
.ope-wrap span{
    margin: 5px;
    cursor: pointer;
}